* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Fira Sans';
}

.dark-wild p {
    padding: 10px 10px;
    width: 100%;
}

.dark-wild .img {
    width: calc(100% - 100px);
    height: auto;

    padding: 10px 10px;
}