@media only screen and (max-width: 1000px) {
    .other-path {
        display: flex;
        justify-content: flex-end;
    }

    .card-container {
        width: calc(90% - 10%);
        height: calc(60vh + 5vh);
    }

    .dark-wild .img {
        width: 100%;
    }
}