* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Fira Sans';
}

.dark-wild p {
    padding: 10px 10px;
    width: 80%;
}

.dark-wild .img {
    width: 60%;
    height: auto;

    padding: 10px 10px;
}